doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
  body
    nav
      a(id='home-button', class='nav-image-button', href='/')
      a(id='leaderboard-button', class='nav-image-button', href='/leaderboard')
      if user
        if isAdmin && isAdmin == "true"
          a(id='user-button', class='nav-image-button', href='/a/users')
        a(id='play-button', class='nav-image-button', href='/g/play')
        a(id='profile-button', class='nav-image-button', href='/u/profile')


        a(id='question-button', class='nav-image-button', href='/question')

        a(id='logout-button', class='nav-image-button', href='/u/logout')
      else
        a(id='login-btn', class='nav-image-button', href='/u/login')
  div.main-content-wrapper
    block content