extends layout

block content
    link(rel='stylesheet', href='/css/log.css') 

    div.cutesy-box
        h1 Login
        if error != ''
            label(class='error') #{error}
        form(action='login', method='post')
            label Username:
            input(type='text', name='username')
            br
            label Password:
            input(type='password', name='password')
            br
            // Apply the image button class and ID
            input(type='submit', value='login', id='login-button', class='image-submit-button')
        h2 Don't have an account?
        a(href='/u/register') Register Here