html {
  background-image: url(../images/Paulfox2.png);
}

body {
  padding: 50px;
  font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

label {
  display: inline-block;
  font-weight: bold;
  margin-right: 5px;
}

nav {
  padding: 5px;
  margin: 0px;
}

nav a {
  margin-right: 5px;
  text-decoration: none;
}

.error {
  color: red;
  font-weight: bold;
}

.userContainer {
  display: flex;
  gap: 10px;
}

.userBox {
  border: solid 1px black;
  border-radius: 5px;
  padding: 5px;
  margin-top: 10px;
}

.image-submit-button {
  display: inline-block;
  width: 180px;
  height: 160px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  text-indent: -9999px;
  overflow: hidden;
  border: none;
  cursor: pointer;
  padding: 0;
  margin-top: 10px;
  transition: opacity 0.2s ease-in-out;
  background-color: transparent;
}

#register-button {
  background-image: url('../images/buttons/register_btn.png');
}

.image-submit-button:hover {
  opacity: 0.8;
  transform: scale(1.1);
}